.newsItem {
 color: #828282;
 margin-top: 5px;
 align-items: baseline;
 display: flex;  
}

.newsItem__titleLink {
 color: black;
 font-size: 10pt;
 text-decoration: none;
}

.newsItem__itemText {
 flex-grow: 1;
}

.newsItem__domain {
 font-size: 8pt;
 margin-left: 5px;
}

.newsItem__domain > a {
 color: #828282;
 text-decoration: none;
}